*.db
*.log 
*.logD
*.zip
redis.*
test.py
tests.py
.ai_env/
celery/
static/
reports/
wiki/
/sop/__pycache__/
/ai_sop/views/__pycache__/

/ai_sop/__pycache__/
/ai_sop/migrations/

ai_sop/db/temp/
ai_sop/db/chat/embedding/
ai_sop/db/sop/embedding/
ai_sop/db/web/embedding/
ai_sop/db/sys/embedding/
