{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags static %}


{% block wiki_pagetitle %}{% trans "Data tools" %}{% endblock %}

{% block wiki_breadcrumbs %}
<div id="article-breadcrumbs" class="row">

  <div class="btn-group" style="margin-left: 10px;">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 7px;" type="button"
            title="{% trans "Sub-articles for" %} {{ my_text }}"
            aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-sitemap">Create embeddings</span>
      <span class="caret"></span>
    </button>
	
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
       <a class="dropdown-item" href="{%url 'ai_sop:my_sop_chat_embedding' %}">  <em> Chat embeddings </em> </a>
       <div class="dropdown-divider"></div> 
       <a class="dropdown-item" href="{%url 'ai_sop:my_sop_prop_embedding' %}">  <em> Prop embeddings </em> </a>     
      
    </div>
  </div>
  
  <div class="btn-group" style="margin-left: 10px;">
	<a href="#"	>
    <button class="btn btn-info " style="padding: 7px;" type="button"
            title="{% trans "Sub-articles for" %} {{ my_text }}"
            aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-sitemap"> Load base </span>
      <span class="caret"></span>
    </button>
	</a>
  </div>
  
  <div class="btn-group" style="margin-left: 10px;">
	<a href="#"	>
    <button class="btn btn-info " style="padding: 7px;" type="button"
            title="{% trans "Sub-articles for" %} {{ my_text }}"
            aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-sitemap"> Load WEB </span>
      <span class="caret"></span>
    </button>
	</a>
  </div>
  
</div>
{% endblock %}

{% block wiki_contents %}


{% endblock %}
